<% cache_timeout 'cirandas-responsive/navigation.html.erb', 1.day do %>
  <li id="navigation-contents"><%= search_contents_menu %></li>
  <li id="navigation-people"><%= search_people_menu %></li>
  <li id="navigation-products"><%= link_to 'Produtos', {:action => :products, :controller => :search}, {:class => 'icon-product', :title => 'Produtos'} %></li>
  <li id="navigation-enterprises"><%= link_to 'Empreendimentos', {:action => :enterprises, :controller => :search}, {:class => 'icon-menu-enterprise', :title => 'Empreendimentos'} %></li>
  <li id="navigation-communities"><%= search_communities_menu %></li>
  <li id="navigation-events"><%= link_to 'Eventos', {:action => :events, :controller => :search},  {:class => 'icon-event', :title => 'Eventos'} %></li>
  <li class="dropdown" id="search-dropdown-menu">
    <a href="#" class="dropdown-toggle icon-search" data-hover="dropdown" data-toggle="dropdown" title="Search">Search</a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <form action="/search" id="top-search" method="get" role="search">
          <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <input name="query" title="<%=_('Search...')%>" placeholder="<%=_('Search...')%>" type="text" class="form-control input-sm"/>
          </div>
        </form>
      </li>
    </ul>
  </li>
  <li id="navigation-help"><%= link_to 'Ajuda', '/ajuda', {:class => 'icon-help', :title => 'Ajuda'} %></li>

  <% calculate_spacing = true if calculate_spacing.nil? %>

  <script type="text/javascript">
    if (typeof cirandas_theme === 'undefined') cirandas_theme = {};
    cirandas_theme.calculate_spacing = <%= (!! calculate_spacing).to_json %>;
  </script>
<% end %>
